div.services {
border-style: solid;
border-color: black;
margin: 3px;
background-color: gainsboro;
border-radius: 2px;
width: 1800px;
margin-left: 55px;
margin-right: 55px;
}

.services h4 p{
text-decoration: underline;
}

.service-img {
  left: 250px; 
}
div.row {
    margin-right: -90px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.img {
    height: 250px;
    width: 250px;
}

