/* Navagation Bar Styling*/
.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5e4486;
    color: white;
    font-size: 1.2em;
    border: 0;
    height: 125px;
    padding: 0;
}

#navImg{
    height: 200px;
    width: 200px;
}

.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hove{
    color: white;
    background-color: #5e4486;
    float: right;
}

.navbar-inverse .navbar-nav li a{
    color: #d5d5d5;
}

.container-fluid{
    text-align: right;
}

/* Picture Carousel Styling*/
.carousel-caption{
    top: 35%;
    text-transform: uppercase;
    left: 38%;
    height: 10px;
    width: 300px;
    position: absolute;
    right: 15%;
    z-index: 0;
    padding-top: 0;
    padding-bottom: 90px;
    color: #fff;
    text-align: center;
    
}

#captaion-form{
    position: absolute;
    background-color: transparent;
}

#captionText {
    text-shadow: #FC0 1px 0 10px;
    background-color: rgb(50, 200, 50, .75);
    border-radius: 5px;
    border: 1px solid green;
}

.btn{
    font-size: 18px;
    color: white;
    padding: 12px 22px;
    background-color: #5e4486;
    border: 2px solid #ffffff;

}

.img-fluid{
    max-width: 100%;
    height: auto;
}



/*Regular Styling*/
.container {
margin: 4% auto;
}

#icon {
    max-width: 200px;
    margin: 1% auto;
}

footer {
    width: 100%;
    padding: 5%;
    color: white;
    background-color: rgb(81, 137, 68)
}

.sideSticky{
    border: 5px solid gray;
    margin-left: 1250px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    overflow: auto;
}


/*Icon Styling*/
.fa {
    padding: 15px;
    font-size: 25px;
    color: white;
}

.fa:hover{
    color: lightgray;
    text-decoration: none;
}

.fa-button {
    padding: 10px;
    font-size: 20px;
    color: white;
}

.fa-button:hover{
    color: lightgray;
    text-decoration: none;
}

/* Contact Section*/
.contact-header {
    color: powderblue;
}

/* Moblie/Shrunk Viewports*/

@media (max-width: 900px) {
    .fa {
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
    #icon {
        max-width: 150px;
    }
    h2 {
        font-size: 1.7em;
    }
}

@media (max-width: 580px) {
    .navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar-right {
    float: none;
  }
}

